* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Segoe UI Light';
    src: url('../font/segoe-ui-light.ttf');
}
body {
    background: var(--first-gradient);
}
.bodybox {
    font-family: 'Poppins-Light';
    margin-top: 95px;
}
.bodybox::-webkit-scrollbar {
    width: 10px;
}
.bodybox::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 5px;
}
.bodybox::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-track);
    border-radius: 5px;
}
.navheader {
    height: 80px;
    background-color: var(--second-color);
    box-shadow: 0 3px 18px var(--color-shadow);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.navbox {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1292px;
}
.navlogo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: var(--fourth-color);
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .navheader {
        height: 60px;
    }
    .navlogo {
        height: 60px;
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .navtoggle {
        display: block;
    }
    .navmenuvisible {
        left: 0;
    }
    .navtoggle:focus:not(:focus-visible) {
        outline: none;
    }
}